h1 {
    margin: 20px 0;
}

#login-form {
    display: flex;
    flex-direction: column;
}

/* Dialogs */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #0e1b26 !important;
    color: white;
    box-shadow: 0 2px 5px rgba(255,255,255, 0.15);
    border: 1px solid rgba(255,255,255, 0.15);
}

::ng-deep .mat-mdc-dialog-title {
    color: white !important;
    font-size: 4vh !important;
    text-align: center;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    color: white !important;
}