<h1 mat-dialog-title>
Login
</h1>

<mat-dialog-content>
  <form id="login-form" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput name="email" placeholder="Email" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-dialog-content>