<div class='spinner-overlay' *ngIf="loading"><mat-spinner></mat-spinner></div>
<mat-dialog-content id="newAvatarDialog">
    <div id="form-section">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="name" [maxlength]="inputLength" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Game Version</mat-label>
            <select [disabled]="loading" matNativeControl [(ngModel)]="gameVersion" required>
                <option value="" disabled selected>Select Game Version</option>
                <option *ngFor="let version of game_versions" [value]="version">{{ version }}</option>
            </select>
            <mat-error>Game Version is required</mat-error>
        </mat-form-field>

        <div *ngIf="!configFile" id="configUpload" ngClass="{{dragAreaClassConfig}}"
          draggable="true">
          <input type="file" #configUpload (change)="onConfigFileSelected($event)" accept=".chf">
          <mat-icon>upload</mat-icon>
          <h5>Drag and drop config file</h5>
          <h5> - or - </h5>
          <button mat-raised-button color="primary" (click)="configUpload.click()">Choose File</button>
          <span class="label-small">The config file is a '.chf' file that is found in your 'USER' folder where Star Citizen is installed.</span>
        </div>
        <div *ngIf="configFile" class="single-file">
          <div class="info">
            <h4 class="name">
              {{ configFile.name }}
            </h4>
            <p class="size">
              {{ formatBytes(configFile.size) }}
            </p>
          </div>
          <mat-icon class="delete" (click)="deleteFile('config')">delete</mat-icon>
        </div>

    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipList>
        <mat-chip
            *ngFor="let tag of tags"
            [removable]="true"
            (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            #tagInput
            matInput
            [disabled]="loading"
            [matChipInputFor]="chipList"
            [attr.maxlength]="inputLength"
            (matChipInputTokenEnd)="addTag($event, tagInput)"
        />
      </mat-chip-grid>
    </mat-form-field>
    
    </div>

    <div id="imagesUpload">
      <mat-label>Front Image</mat-label>
      <div *ngIf="!frontImage" id="frontImageUpload" ngClass="{{dragAreaClassFront}}" draggable="true">
        <input type="file" name="frontImageUpload" #frontImageUpload (change)="onFrontImageFileSelected($event)" accept="image/*">
        <mat-icon>upload</mat-icon>
        <h5>Drag and drop image file</h5>
        <h5> - or - </h5>
        <button mat-raised-button color="primary" (click)="frontImageUpload.click()">Choose File</button>
      </div>
      <div *ngIf="frontImage" class="uploadedImage">
        <img id="frontImage" [src]="frontImageSrc"/>
        <div class="overlay">
          <mat-icon class="delete" (click)="deleteFile('front')">delete</mat-icon>
        </div>
      </div>
    </div>
    

    <div id="imagesUpload">
        <mat-label>Profile Image</mat-label>
        <div *ngIf="!profileImage" id="profileImageUpload" ngClass="{{dragAreaClassProfile}}" draggable="true">
          <input type="file" name="profileImageUpload" #profileImageUpload (change)="onProfileImageFileSelected($event)" accept="image/*">
          <mat-icon>upload</mat-icon>
          <h5>Drag and drop image file</h5>
          <h5> - or - </h5>
          <button mat-raised-button color="primary" (click)="profileImageUpload.click()">Choose File</button>
        </div>
        <div *ngIf="profileImage" class="uploadedImage">
          <img id="profileImage" [src]="profileImageSrc"/>
          <div class="overlay">
            <mat-icon class="delete" (click)="deleteFile('profile')">delete</mat-icon>
          </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="loading" mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!formValid() || loading"
    (click)="onSubmit()">
    Upload
  </button>
</mat-dialog-actions>
