<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer [mode]="'over'">
    <div id="filter-bar">
      <mat-form-field>
        <input (keyup)="getAvatars()" matInput placeholder="Search:" [(ngModel)]="filters.search">
      </mat-form-field>

      <mat-form-field>
        <mat-select (selectionChange)="getAvatars()" placeholder="Game Version" [(ngModel)]="filters.game_version">
          <mat-option *ngFor="let version of game_versions" [value]="version">
            {{ version }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="currentUser?.id" id="filter-toggles">
        <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.liked" color="'primary'">Liked</mat-slide-toggle>
        <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.disliked" color="'primary'">Disliked</mat-slide-toggle>
        <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.starred" color="'primary'">Starred</mat-slide-toggle>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header 
      [userLoggedIn]="!!currentUser"
      (loginChange)="reloadPage();"></app-header>

        <button id="filter-button" mat-raised-button (click)="drawer.toggle()">Search/Filter</button>

        <div id="front-page-list">
          <div class='spinner' *ngIf="loading"><mat-spinner></mat-spinner></div>
          <h5 *ngIf="!loading && totalAvatars == 0" id="empty-message">No avatars found.</h5>
          <div *ngIf="!loading" id="avatars">
            <app-avatar-card 
              *ngFor="let avatar of avatars" 
              [avatar]="avatar"
              [currentUser]="currentUser"
              (avatarUpdated)="getAvatars()"></app-avatar-card>
          </div>
        
          <mat-paginator
            *ngIf="totalAvatars > 0"
            [length]="totalAvatars"
            [pageSize]="pageData.pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="getAvatars($event)"
          >
          </mat-paginator>
        </div>
        
        <div class="add-button-container" matTooltip="You must be logged in to add an avatar" [matTooltipDisabled]="!!currentUser">
          <button mat-fab color="primary" 
            matTooltip="Add an avatar"
            aria-label="Add an avatar" 
            [disabled]="!currentUser"
            (click)="newAvatarDialog()"
            >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>