<app-header 
  [userLoggedIn]="!!currentUser"
  (loginChange)="reloadPage();"></app-header>

<!-- Might move to component later-->
<div class='spinner' *ngIf="loading"><mat-spinner></mat-spinner></div>

<div *ngIf="!loading" id="front-page-list">
  <div id="filter-bar">
    Filters will go here
  </div>

  <div id="avatars">
    <app-avatar-card 
      *ngFor="let avatar of avatars" 
      [avatar]="avatar"
      [currentUser]="currentUser"
      (avatarUpdated)="getAvatars()"></app-avatar-card>
  </div>
</div>

<div class="add-button-container" matTooltip="You must be logged in to add an avatar" [matTooltipDisabled]="!!currentUser">
  <button mat-fab color="primary" 
    matTooltip="Add an avatar"
    aria-label="Add an avatar" 
    [disabled]="!currentUser"
    (click)="newAvatarDialog()"
    >
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-footer></app-footer>