.add-button-container {
    position: absolute;
    bottom: 4vw;
    right: 4vw;
}

#avatars {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, .25fr));
}

.add-button-container {
    z-index: 9998;
}

/*Snackbars*/
::ng-deep .success-snackbar {
    --mdc-snackbar-container-color: rgb(11, 211, 11);
    --mdc-snackbar-supporting-text-color: whitesmoke;
}

::ng-deep .error-snackbar {
    --mdc-snackbar-container-color: rgb(206, 27, 27);
    --mdc-snackbar-supporting-text-color: whitesmoke;
}