<app-header 
  [userLoggedIn]="!!currentUser"
  (loginChange)="reloadPage();"></app-header>

<!-- Might move to component later-->
<div id="front-page-list">
  <div id="filter-bar">
      <mat-form-field>
        <input (keyup)="getAvatars()" matInput placeholder="Search:" [(ngModel)]="filters.search">
      </mat-form-field>

      <mat-form-field>
        <mat-select (change)="getAvatars()" placeholder="Game Version" [(ngModel)]="filters.game_version">
          <mat-option *ngFor="let version of game_versions" [value]="version">
            {{ version }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.liked" color="'primary'">Liked</mat-slide-toggle>
      <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.disliked" color="'primary'">Disliked</mat-slide-toggle>
      <mat-slide-toggle (change)="getAvatars()" [(ngModel)]="filters.starred" color="'primary'">Starred</mat-slide-toggle>
  </div>

  <div class='spinner' *ngIf="loading"><mat-spinner></mat-spinner></div>
  <div *ngIf="!loading" id="avatars">
    <app-avatar-card 
      *ngFor="let avatar of avatars" 
      [avatar]="avatar"
      [currentUser]="currentUser"
      (avatarUpdated)="getAvatars()"></app-avatar-card>
  </div>

  <mat-paginator
    [length]="totalAvatars"
    [pageSize]="pageData.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="getAvatars($event)"
  >
  </mat-paginator>
</div>

<div class="add-button-container" matTooltip="You must be logged in to add an avatar" [matTooltipDisabled]="!!currentUser">
  <button mat-fab color="primary" 
    matTooltip="Add an avatar"
    aria-label="Add an avatar" 
    [disabled]="!currentUser"
    (click)="newAvatarDialog()"
    >
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-footer></app-footer>