.avatar-card{
    width: auto;
    border: 1px solid rgba(255,255,255, 0.15);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #0e1b26de;
    box-shadow: 0 2px 5px rgba(255,255,255, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.avatar-card:hover {
    box-shadow: 0 4px 20px rgba(255,255,255, 0.3);
    border-color: rgba(255,255,255, 0.2);
}

.avatar-card h3 {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.image-container {
    height: 100%;
}

.voting-section {
    width: 80%;
    margin: 2px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.upvoted {
    color: green;
    text-shadow: 0px 0px 10px #00ff1c;
}

.downvoted { 
    color: red;
    text-shadow: 0px 0px 10px #f72020;
}

.igx-slide {
    width: 90%;
    margin: auto;
    border-radius: 5%;
    overflow: hidden;
}