/* Define Theme Variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --primary-font-family: 'Arial, sans-serif';
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #0e1b26 url("assets/images/background2.png") no-repeat ;
    background-size: 100%;
    color: white;
}

.mat-drawer-content{
    width: 90%;
    margin: auto;
}

.mat-drawer-container {
    min-height: 100vh;
}

mat-paginator.mat-mdc-paginator {
    background-color: #0e1b26;
    color: white;
}

::ng-deep .mat-mdc-paginator-navigation-next .mat-mdc-paginator-icon {
    background-color: #0e1b26;
    color: white;
}

svg.mat-mdc-paginator-icon {
    fill: white;
}

button.mat-mdc-tooltip-trigger.mat-mdc-paginator-navigation-previous.mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-disabled.mat-unthemed.mat-mdc-button-base.mat-mdc-tooltip-disabled svg {
    fill: grey;
}

.mat-mdc-select-value-text {
    color: white;
}

.mdc-notched-outline__leading, .mdc-notched-outline__trailing {
    border-color: white!important;
}

.mat-mdc-select-arrow svg path {
    fill:white;
}

mat-slide-toggle .mdc-label{
    color: white;
}

.igx-slide {
    background: transparent !important;
    text-align: center;
}