<div class='spinner-overlay' *ngIf="loading"><mat-spinner></mat-spinner></div>
<h2 mat-dialog-title>{{ data.avatar.name }}</h2>
<mat-dialog-content>
    <div class="carousel-container">
      <igx-carousel #carousel [navigation]="!!data.avatar.images" [loop]="!!data.avatar.images">
          <ng-template *ngIf="!data?.avatar?.images" igxCarouselIndicator></ng-template>
        <igx-slide *ngIf="!data?.avatar?.images">
          <div class="image-container">
            <img [src]="'assets/images/placeholder.png'" />
          </div>
        </igx-slide>
        <igx-slide *ngFor="let slide of data?.avatar?.images">
          <div class="image-container">
            <img [src]="slide" />
          </div>
        </igx-slide>
      </igx-carousel>
      <h3></h3>
      <p>Game Version: {{ data.avatar.game_version }} </p>

      <p *ngIf="data.avatar.tags && data.avatar.tags.length > 0">Tags</p>
      <mat-chip-set aria-label="Avatar Tags">
        <mat-chip *ngFor="let tag of data.avatar.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
    </div>
</mat-dialog-content>
<mat-dialog-actions id="avatar-actions">
  <button [disabled]="loading" color="warn" mat-raised-button *ngIf="data?.currentUser?.id === data.avatar.owner" (click)="deleteAvatar()">{{deleteConfirm ? 'Really Delete?' : 'Delete'}}</button>
  <button [disabled]="loading" mat-icon-button [disabled]="!data.currentUser" (click)="toggleStar()"><mat-icon>{{data.avatar.user_star ? 'star' : 'star_outline'}}</mat-icon></button>
  <button [disabled]="loading" mat-raised-button (click)="downloadAvatar()">Download</button>
</mat-dialog-actions>